<h1>Cadastro de Cliente</h1>
<form action="/teste/insertteste" method="POST" class="form">
<div class="form-control">

    <div class="form-container">
        <label for="email">Adicione o seu email:</label>
        <input type="email" name="email" placeholder="Email">
    </div>    

    <div class="form-container">
        <label for="senha">Adicione a sua senha:</label>
        <input type="password" name="senha" placeholder="Senha">
    </div>
</div>
<input type="submit" value="Cadastrar">
</form>