<br><br><br>

<h2>Lista de Cadastros</h2>

<div class="container">
<a href="/" class="btn btn-primary mb-3">Adicionar</a>

<table class="table table-striped table-hover">
<thead>
<tr>
<th scope="col">#ID</th>
<th scope="col">Nome</th>
<th scope="col">E-mail</th>
<th scope="col">Senha</th>
</tr>
</thead>
<tbody>
{{#each teste}}
<tr>
<th scope="row">{{this.id}}</th>
<td>{{this.nome}}</td>
<td>{{this.email}}</td>
<td>{{this.senha}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>